 <div class="row">
        <div class="col-md-12">
<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <i class="fa fa-home"></i>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="registration"> Registration</a></li>
      </ul>
     
    </div>
  </div>
</nav>
<main id="main" ui-view>

</main>
</div>

  </div>
</div>

